*~
doc/*.css
doc/chap*.html
doc/chap*.txt
doc/Stand*.aux
doc/Stand*.bbl
doc/Stand*.blg
doc/Stand*.brf
doc/Stand*.idx
doc/Stand*.ilg
doc/Stand*.ind
doc/Stand*.log
doc/Stand*.out
doc/Stand*.pnr
doc/Stand*.tex
doc/Stand*.toc
doc/StdFFBib.xml.bib
doc/chooser.html
doc/manual.js
doc/manual.lab
doc/manual.pdf
doc/manual.six
doc/rainbow.js
doc/toggless.js
